body {
    font: 20px/30px 'Poly',serif;
    background: url('images/noise_pattern.png') repeat;
    margin: 0;
    color: #515151;
}

h1 {
    margin: 0;
    text-decoration: underline;
    color: #515151;
    font-size: 32px;
}

a {
    text-decoration: underline;
    color: #515151;
    font-style: italic;
}

/* Main page */

#card {
    margin: 10px auto 0px 10px;
    background-color: #fff;
    padding: 5px 0 0 20px;
    box-shadow: 0 3px 3px #aaaaaa;
    width: 85.60mm;
    /* bigger and bigger */
    height: 60.98mm;
}

#head {
    margin-bottom: 10px;
    font-weight: bold;
    text-shadow: 0 1px 0 #999;
}

#description {
    color: #cccccc;
    margin-left: 20px;
    font-style: italic;
}

#contacts {
    list-style: none;
    padding-left: 0;
    margin-top: 15px;
}

#contacts li {
}

.contact-key {
}

.contact-data {
    position: absolute;
    left: 6.5em;
    color: #515151;
    font-style: italic;
}

/* slides */
.slide-item {
    margin-top: 1em;
}

.slide-item a {
    padding-left: 1.5em;
    display: block;
}
