body {
    font: 20px times, "Times New Roman", times-roman, serif;
    background: url('images/noise_pattern.png') repeat;
    margin: 0;
    color: #515151;
}

#card {
    margin: 20px auto 0px 20px;
    background-color: #fff;
    padding: 5px 0 0 20px;
    box-shadow: 0 3px 3px #aaaaaa;
    width: 85.60mm;
    height: 53.98mm;
}

#head {
    margin-bottom: 10px;
    font-weight: bold;
}

#head h1 {
    margin: 0;
    text-decoration: underline;
    margin-bottom: 10px;
    color: #515151;
    margin-bottom: 0;
    font-size: 32px;
}

#description {
    color: #cccccc;
    margin-left: 20px;
    font-style: italic;
}

#contacts {
    list-style: none;
    padding-left: 0;
    margin-top: 30px;
}

#contacts li {
    margin-bottom: 5px;
}

.contact-key {
}

.contact-data {
    position: absolute;
    left: 112px;

    color: #515151;
    font-style: italic;
}

.contact-data a {
    text-decoration: underline;
}

.email-sep {
    font-style: italic;
    display: inline;
    color: #ddd;
}
